.profiles {
  border: 1px solid #ccc;
}

.profile {
  display: flex;
  font-size: 0.7rem;
}

.profiles__title-element {
  display: inline-flex;
  font-size: 0.7rem;
  height: 50px;
  justify-content: center;
}

.profiles__item {
  display: inline-flex;
  font-size: 0.7rem;
  overflow: hidden;
}
