.profiles {
  border: 1px solid #ccc;
}

.profile {
  display: flex;
  font-size: 0.7rem;
}

.profiles__title-bar .profiles__title-bar__element {
  display: inline-flex;
  font-size: 0.7rem;
  height: 100px;
}

.profiles__item {
  display: inline-flex;
  font-size: 0.7rem;
  overflow: hidden;
}
